@model dotnet_basics.Models.UserInput   

<h3>Form ile Kullanıcıdan Veri Alma</h3>
<!-- Form 1 name attribute kullanarak -->
<!--
<form asp-action="Form" asp-controller="UserInput" method="post">
    <input type="text" name="Name" placeholder="İsim" />
    <input type="email" name="Email" placeholder="E-posta" />
    <button type="submit">Gönder</button>
</form>
-->

<!-- Form 2 "asp-for" kullanarak model binding -->
<form asp-action="Form" asp-controller="UserInput" method="post">
    <input type="text" asp-for="Name" placeholder="İsim" />
    <input type="email" asp-for="Email" placeholder="E-posta" />
    <button type="submit">Gönder</button>
</form>

<p>Message: @ViewBag.Message</p>