<style>
    .data-pass-methods li a:hover {
        text-decoration: underline;
    }
</style>

<h3>Kullanicidan Veri Alma Islemleri</h3>
<hr />
<ul class="data-pass-methods">
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="Form">Form uzerinden veri alma</a></li>
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="QueryString">Query string ile veri alma / example: /UserInput/QueryString?category=phones&brand=apple </a></li>
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="RouteParameter">Route Parameter ile veri alma / example:  /UserInput/RouteParameter/Nihat/Aydin/23</a></li>
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="Header">Header example / Postman ile test edebilirsiniz.</a></li>
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="Ajax">Ajax ile veri alma</a></li>
</ul>
