<h3>Kullanicidan Veri Alma Islemleri</h3>

<ul class="data-pass-methods">
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="Form">Form üzerinden kullanıcıdan veri alma</a></li>
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="QueryString">Query string ile veri alma / example: /UserInput/QueryString?category=phones&brand=apple </a></li>
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="RouteParameter">Route Parameter ile veri alma / example:  /UserInput/RouteParameter/Nihat/Aydin/23</a></li>
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="Header">Header example / Postman ile test edebilirsiniz.</a></li>
    <li><a class="nav-link active" asp-controller="UserInput" asp-action="Ajax">Ajax ile kullanıcıdan veri alma</a></li>
</ul>
