@model dotnet_basics.Models.Contact

<h1> Home/Contact Page</h1>
<hr />
<h2>Kullanicidan Veri Alma Islemleri</h2>

<!-- Form 1 name attribute kullanarak -->
<!--
<form asp-action="Index" asp-controller="Contact" method="post">
    <input type="text" name="Name" placeholder="İsim" />
    <input type="email" name="Email" placeholder="E-posta" />
    <button type="submit">Gönder</button>
</form>
-->

<!-- Form 2 "asp-for" kullanarak model binding -->
<form asp-action="Index" asp-controller="Contact" method="post">
    <input type="text" asp-for="Name" placeholder="İsim" />
    <input type="email" asp-for="Email" placeholder="E-posta" />
    <button type="submit">Gönder</button>
</form>

<p>Message: @ViewBag.Message</p>