<h1>Home/Index</h1>
<br />
<hr />
<br />
<h3>Used in this project:</h3>
<ul>
    <li>Transferring data to view</li>
    <li>Routing</li>
    <li>Layout</li>
    <li>PartialView</li>
    <li>_ViewImports and _ViewStart</li>
    <li>Basic Linq queries</li>
    <li>Html tag helpers</li>
</ul>
