<style>
    .address li a:hover {
        text-decoration: underline;
    }
</style>

<h2>ASP.NET Core Mvc Basics</h2>

<hr />

<p>
Aşağıda yer alan konu başlıklarına tıklayarak ilgili örneklere ulaşabilirsiniz. Burada kullanılan yöntemleri canlı olarak görüntüleyebilir ve test edebilirsiniz. Daha iyi anlamak için ilgili controller'lara göz atabilir veya bu konu başlıklarını detaylı olarak incelediğim <a href="@("https://medium.com/@nihatydin")" target="_blank">Medium yazılarımı</a> okuyabilirsiniz.
</p>

<ul class="address">
    <li>
    <h4>Kullanıcıdan veri alma işlemleri</h4>
        <ul>
            <li><a class="nav-link active" asp-controller="UserInput" asp-action="Form">Form üzerinden kullanıcıdan veri alma</a></li>
            <li><a class="nav-link active" asp-controller="UserInput" asp-action="QueryString">Query string ile veri alma</a></li>
            <li><a class="nav-link active" asp-controller="UserInput" asp-action="RouteParameter">Route Parameter ile veri alma</a></li>
            <li><a class="nav-link active" asp-controller="UserInput" asp-action="Header">Header example / Postman ile test edebilirsiniz.</a></li>
            <li><a class="nav-link active" asp-controller="UserInput" asp-action="Ajax">Ajax ile kullanıcıdan veri alma</a></li>
        </ul>
    </li>
    <li>
        <h4>View'a Veri Aktarma Yolları</h4>
        <ul class="data-pass-methods">
            <li><a class="nav-link active" asp-controller="DataPass" asp-action="Model">Model ile veri alma</a></li>
            <li><a class="nav-link active" asp-controller="DataPass" asp-action="Viewbag">ViewBag ile veri alma</a></li>
            <li><a class="nav-link active" asp-controller="DataPass" asp-action="Viewdata">ViewData ile veri alma</a></li>
            <li><a class="nav-link active" asp-controller="DataPass" asp-action="Tempdata">TempData ile veri alma ve redirect</a></li>
        </ul>
    </li>
</ul>
