@model List<Course>

<div class="w-full d-flex justify-content-between align-items-center">
    <h3 class="mb-3">Active Courses</h3>
    <div class="btn btn-warning ">
        <a class="text-decoration-none" asp-controller="Course" asp-action="List">All Courses</a>
    </div>
</div>

<div class="row kurslar">
    
    @foreach(Course course in Model){
        <div class="col-4">
            @await Html.PartialAsync("_CourseCard",course)
        </div>
    }

</div>