@model Product

        <div class="card mb-4">
            <div class="card-body">
                <img class="card-img-top" src="~/img/@Model.Image" alt="">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">View</a>
            </div>
        </div>
