@model List<Product>

<div class="w-full d-flex justify-content-between align-items-center">
    <h3 class="mb-3">Active Products</h3>
    <div class="btn btn-warning ">
        <a class="text-decoration-none" asp-controller="Products" asp-action="List">All Products</a>
    </div>
</div>

<div class="row kurslar">

      @foreach(Product product in Model){
       @if(product.IsActive){
         <div class="col-4">
            @await Html.PartialAsync("_ProductCard",product)
        </div>
       }
    }

</div>